@charset "UTF-8";

/* Variables */
:root {
  --color-background: #f4f4f4;
  --color-sec-background: #e8ecf4;
  --color-white: #ffffff;
  --color-black: rgb(0, 0, 0);
  --color-primary: #2562ed;
  --color-text: #333f52;
  --color-year-button: #bec4cc;
  --color-primary-logo: rgba(37, 98, 237, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--color-background);
}

body {
  font-size: 1.6rem;
  font-family: "Open sans", sans-serif;
  width: 100%;
  color: var(--color-text-nav);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: var(--color-background);
  overflow-x: hidden;
}
button,
input {
  font-family: "Open sans", sans-serif;
}

.main-header {
  height: 5vw;
}

.nav-container {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1.4vw 1.1vw;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--color-background);
}

.nav-dropshadow {
  box-shadow: 1px 1px 30px var(--color-text);
}
.nav-menu-left-container {
  display: flex;
  margin-left: 1.45vw;
  align-items: center;
  .fine-line {
    position: relative;
    height: 5.2rem;
    width: 1px;
    left: 2.9vw;
    border-left: 1px solid #e3e3e3;
  }
  .nav-items-left {
    display: flex;
    margin-left: 5.45vw;
    .nav-item {
      &:nth-child(2) {
        margin-left: 2.1vw;
      }
      a {
        color: var(--color-text);
        &:hover {
          color: var(--color-primary);
        }
        &:focus {
          outline: none;
          color: var(--color-primary);
        }
        &:active {
          outline: none;
          color: var(--color-primary);
        }
      }
    }
  }
}

.nav-menu-right-container {
  display: flex;
  margin-right: 11vw;
  align-items: center;
  .nav-items-right {
    display: flex;
    .nav-item {
      margin: 0 0.6rem;
      a {
        color: rgba(51, 63, 82, 0.3);
        &:hover {
          color: var(--color-primary);
        }
        &:focus {
          outline: none;
          color: var(--color-primary);
        }
        &:active {
          outline: none;
          color: var(--color-primary);
        }
      }
      .active {
        color: var(--color-primary);
      }
    }
  }
}

.svg-menu {
  cursor: pointer;
  padding: 0 0.7rem;
}

.logo {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary-logo);
  justify-content: flex-start;
  margin-left: 4.4vw;
  padding: 0.4rem 0.8rem 0 0.8rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
}
.nav-item {
  a {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 2rem;
    font-weight: 500;
    transition: all 0.2s ease 0s;
  }
}

.nav-btn {
  .btn-signup {
    text-decoration: none;
    cursor: pointer;
    padding: 1.2rem 1.3rem;
    margin-left: 2rem;
    letter-spacing: 0.5px;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    outline: none;
    border-radius: 0.2rem;
    background: var(--color-primary);
    box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.1s;
    &:hover {
      border: 1px solid var(--color-primary);
      background: var(--color-white);
      color: var(--color-primary);
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);
    }
    &:focus {
      border: 1px solid var(--color-primary);
      background: var(--color-white);
      color: var(--color-primary);
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);
    }
    &:active {
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
/* Navigation ends here */

/* Hero Section Starts here*/

.main-section {
  margin-top: 2.4vw;
  margin-left: 7.6vw;
  margin-right: 6.5vw;
  padding-bottom: 4.2vw;
  display: grid;
  grid-template-columns: 62vw 25.31vw;
  .left-section {
    h1 {
      font-size: 3rem;
      color: var(--color-text);
    }
    p {
      font-size: 2.2rem;
      line-height: 4.2rem;
      margin-top: 1.15vw;
      max-width: 53vw;
    }
    .did-you-know {
      margin-top: 1.35vw;
      display: inline-block;
      font-size: 1.8rem;
      padding: 1.3rem 3.5rem;
      background-color: #e6ebff;
      font-weight: 400;
      span {
        font-weight: 700;
        color: var(--color-primary);
      }
      color: var(--color-text);
    }

    .calculation-section {
      margin-top: 2.35vw;
      .btn-lumpsum,
      .btn-sip {
        cursor: pointer;
        position: relative;
        background-color: transparent;
        font-size: 2.6rem;
        font-weight: 700;
        padding: 0.37rem 0;
        border: none;
        outline: none;
        transition: all 0.2s ease 0s;
        &:hover {
          color: var(--color-primary);
          border-bottom: none;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -9.5%;
          left: 50%;
          height: 4px;
          width: 0;
          background: transparent;
        }
        &:after {
          transition: width 0.3s ease, background-color 0.3s ease,
            left 0.3s ease;
        }
        &:hover:after {
          width: 100%;
          left: 0;
          background: var(--color-primary);
        }
      }
      .btn-lumpsum,
      .active {
        color: rgba(51, 63, 82, 0.3);
        color: var(--color-primary);
      }
      .active {
        color: var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
      }
      .btn-sip {
        margin-left: 4rem;
        color: rgba(51, 63, 82, 0.3);
      }

      .expenditure-row {
        display: flex;
        width: 56.9vw;
        margin-top: 3.46vw;
        justify-content: space-between;
        margin-right: 3.54vw;
        span:nth-child(1) {
          color: var(--color-text);
          font-size: 2.4rem;
        }
        span:nth-child(2) {
          span {
            color: var(--color-primary);
            font-size: 3rem;
            font-weight: 600;
          }
          color: var(--color-primary);
          font-size: 3rem;
          font-weight: 600;
        }
      }
      .rangeslider {
        margin-top: 2.7vw;
        margin-left: 2.81vw;
        width: 51.5vw;
      }

      .para-years {
        font-size: 2.4rem;
        margin-top: 3.6vw;
      }
      .button-years {
        margin-top: 1.82vw;
        button {
          cursor: pointer;
          height: 6.4rem;
          width: 13.6rem;
          border-radius: 60px;
          font-size: 2.6rem;
          letter-spacing: 5px;
          color: var(--color-white);
          background-color: var(--color-primary);
          border: 1px solid var(--color-primary);
          outline: none;
          &:nth-child(1) {
            margin-right: 2.08vw;
          }
          &:nth-child(2) {
            margin-right: 2.08vw;
            color: var(--color-year-button);
            background-color: var(--color-white);
            border: 1px solid var(--color-year-button);
          }
          &:nth-child(3) {
            color: var(--color-year-button);
            background-color: var(--color-white);
            border: 1px solid var(--color-year-button);
          }
          &:hover {
            border: 1px solid var(--color-primary);
            background: var(--color-white);
            color: var(--color-primary);
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
          }
          &:focus {
            border: 1px solid var(--color-primary);
            background: var(--color-white);
            color: var(--color-primary);
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
          }
          &:active {
            box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          }
        }
      }
      .line-under-year-btns {
        margin-top: 2.08vw;
        margin-bottom: 1.45vw;
        display: block;
        border-top: 2px solid #e3e3e3;
        height: 1px;
        width: 56.66vw;
      }
      .flexbox-text-1 {
        display: flex;
        width: 56.66vw;
        justify-content: space-between;
        span:nth-child(1) {
          padding-top: 1.5rem;
          display: block;
          font-size: 2.4rem;
          font-weight: 600;
        }
        span:nth-child(2) {
          color: var(--color-primary);
          font-size: 3.4rem;
          font-weight: 600;
          display: block;
        }
      }
      .flexbox-text-2 {
        display: flex;
        height: 3rem;
        width: 56.66vw;
        justify-content: space-between;
        span:nth-child(1) {
          display: block;
          font-size: 2.4rem;
          font-weight: 600;
        }
        span:nth-child(2) {
          display: block;
          margin-top: 0.5rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }

      .investment-btns {
        margin-top: 4.06vw;
        button {
          cursor: pointer;
          height: 6rem;
          width: 32.3rem;
          font-size: 2rem;
          font-weight: 700;
          border: 2px solid var(--color-primary);
          outline: none;
          &:nth-child(1) {
            color: var(--color-white);
            background-color: var(--color-primary);
            margin-right: 5rem;
          }
          &:nth-child(2) {
            color: var(--color-primary);
            background-color: var(--color-white);
          }
          &:hover {
            border: 2px solid var(--color-primary);
            background: var(--color-white);
            color: var(--color-primary);
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
          }
          &:focus {
            border: 2px solid var(--color-primary);
            background: var(--color-white);
            color: var(--color-primary);
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
          }
          &:active {
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  .right-section {
    h2 {
      font-size: 3rem;
      color: var(--color-text);
      margin-bottom: 1.56vw;
    }
    .youtube-video-container {
      cursor: pointer;
      margin-bottom: 3.64vw;
      width: 25.31vw;
      height: 15.62vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 45px 1fr 3.33vw;
      grid-template-areas:
        "emptyone"
        "icon"
        "empty"
        "heading";
      background-image: url("/assignment/src/img/sharon-mccutcheon--8a5eJ1-mmQ-unsplash@2x.png"), url("/src/img/sharon-mccutcheon--8a5eJ1-mmQ-unsplash@2x.png" );
      background-size: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .youtube-icon {
        grid-area: icon;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
      }
      .spacer1 {
        grid-area: emptyone;
      }

      .heading-youtube-bg {
        grid-area: heading;
        display: block;
        height: 3.33vw;
        width: 25.31vw;
        line-height: 3vw;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.8)
        );

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          font-size: 2rem;
          color: var(--color-white);
          font-weight: 400;
          z-index: 1;
          padding-left: 1.5vw;
        }
      }
      .spacer2 {
        grid-area: empty;
      }
    }
    h2 {
      font-size: 3rem;
      color: var(--color-text);
    }
    p {
      cursor: pointer;
      margin-top: 1.82vw;
      font-size: 2rem;
      color: var(--color-primary);
    }
  }
}
/* Hero Section Ends here*/

/* Plan your Investment Section */

.bottom-section {
  background-color: var(--color-sec-background);
  height: 41vw;
  padding-top: 2.6vw;
  .bottom-greyish-div {
    margin-left: 7.29vw;
    h1 {
      color: var(--color-black);
      font-size: 3rem;
    }
    .bottom-white-div {
      margin-top: 3.64vw;
      border-radius: 1rem;
      background-color: #ffffff;
      width: 85.4vw;
      height: 25vw;
      align-content: center;
      text-align: center;
      .light-greyish-div {
        height: 6vw;
        text-align: center;
        background-color: #f8faff;
        p {
          display: block;
          font-size: 2.4rem;
          text-align: center;
          padding: 2.1vw 2.08vw 2.08vw 2.08vw;
        }
      }
      h3 {
        font-size: 2.8rem;
        text-align: center;
        margin-top: 1.6vw;
        font-weight: 600;
      }
      .input-align-div {
        margin-top: 2.08vw;
        height: 2.86vw;
        input {
          outline: none;
          color: rgba(51, 63, 82, 0.7);
          text-align: center;
          font-size: 4rem;
          font-weight: 600;
          border: none;
          padding-bottom: 1.06vw;
          border-bottom: 3px solid #2562ed;
        }
        .input-one-investment {
          width: 19.11vw;
        }
        .input-two-years {
          width: 11.35vw;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(51, 63, 82, 0.2);
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(51, 63, 82, 0.2);
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(51, 63, 82, 0.2);
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: rgba(51, 63, 82, 0.2);
        }

        .in-next-year {
          display: inline-block;
          font-size: 2.8rem;
          font-weight: 600;
          margin: 0 3.75vw 0 3.33vw;
        }
        .no-of-years {
          display: inline-block;
          font-size: 2.8rem;
          font-weight: 600;
          margin: 0 0 0 2.1vw;
        }
      }
      .btn-next-investment {
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 4.8vw;
        width: 17.1rem;
        height: 6rem;
        color: var(--color-white);
        background: var(--color-primary);
        font-size: 2rem;
        font-weight: 600;
        &:hover {
          border: 2px solid var(--color-primary);
          background: var(--color-white);
          color: var(--color-primary);
          box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
        }
        &:focus {
          border: 2px solid var(--color-primary);
          background: var(--color-white);
          color: var(--color-primary);
          box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
        }
        &:active {
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

/* Plan your Investment Section ends here */

/* Media Queries */

@media only screen and (min-width: 1368px) and (max-width: 1650px) {
  .main-header {
    height: 7.5vw;
  }

  .nav-menu-left-container {
    margin-left: 2.45vw;
  }
  .nav-menu-right-container {
    margin-right: 0.9vw;
  }

  .main-section {
    margin-left: 4vw;
    margin-right: 2vw;
    grid-template-columns: 1fr 30.31vw;
    .right-section {
      .youtube-video-container {
        width: 30.31vw;
        height: 18.62vw;
        .heading-youtube-bg {
          width: 30.31vw;
          span {
            padding-left: 2vw;
          }
        }
      }
    }
  }

  .bottom-section {
    height: 44vw;
    .bottom-greyish-div {
      .bottom-white-div {
        height: 30vw;
        .light-greyish-div {
          height: 9vw;
          padding: 0 10vw;
          line-height: 4.2rem;
          p {
            height: 9vw;
            padding: 2.1vw 1.5vw 2.08vw 1.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  html {
    font-size: 50%;
  }

  .main-header {
    height: 10vw;
  }

  .nav-menu-left-container {
    margin-left: 2.45vw;
  }
  .nav-menu-right-container {
    margin-right: 0.9vw;
  }

  .main-section {
    margin-left: 4vw;
    margin-right: 2vw;
    grid-template-columns: 1fr 30.31vw;
    .left-section {
      .did-you-know {
        font-size: 2rem;
      }
    }
    .right-section {
      .youtube-video-container {
        width: 30.31vw;
        height: 18.62vw;
        .heading-youtube-bg {
          width: 30.31vw;
          span {
            padding-left: 2vw;
          }
        }
      }
    }
  }

  .bottom-section {
    height: 50vw;
    .bottom-greyish-div {
      .bottom-white-div {
        height: 35vw;
        .light-greyish-div {
          height: 9.5vw;
          padding: 0 10vw;
          line-height: 4.2rem;
          p {
            font-size: 2.6rem;
            height: 9.5vw;
            padding: 2.1vw 1.5vw 2.08vw 1.5vw;
          }
        }
        h3 {
          margin-top: 3.2vw;
        }
      }
    }
  }

  
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 45%;
  }

  .main-header {
    height: 10vw;
  }

  .nav-menu-left-container {
    margin-left: 2.45vw;
  }
  .nav-menu-right-container {
    margin-right: 0.9vw;
  }

  .main-section {
    margin-left: 4vw;
    margin-right: 2vw;
    grid-template-columns: 1fr 30.31vw;
    .left-section {
      p {
        max-width: 59vw;
      }
      .did-you-know {
        font-size: 2rem;
      }
      .calculation-section {
        .flexbox-text-1 {
          width: 61vw;
        }
        .flexbox-text-2 {
          width: 61vw;
          height: unset;
          span:nth-child(2) {
            margin: 0;
          }
        }

        .investment-btns {
          button {
            width: 31rem;
            &:nth-child(1) {
              margin-right: 2rem;
            }
          }
        }
      }
    }
    .right-section {
      .youtube-video-container {
        width: 30.31vw;
        height: 18.62vw;
        .heading-youtube-bg {
          width: 30.31vw;
          span {
            padding-left: 2vw;
          }
        }
      }
    }
  }

  .bottom-section {
    height: 55vw;
    .bottom-greyish-div {
      .bottom-white-div {
        height: 38vw;
        .light-greyish-div {
          height: 9.5vw;
          padding: 0 10vw;
          line-height: 3.5rem;
          p {
            font-size: 2vw;
            height: 9.5vw;
            padding: 2.1vw 1vw 2.08vw 1vw;
          }
        }
        h3 {
          margin-top: 3.2vw;
        }
        .input-align-div {
          height: 4vw;
        }
      }
    }
  }

  
}


@media screen and (max-width: 767px) and (min-width: 600px) {
  html {
    font-size: 45%;
  }

  .main-header {
    height: 10vw;
  }

  .nav-container {
    padding: 3vw;
  }

  .nav-menu-left-container {
    margin-left: 2.45vw;
  }
  .nav-menu-right-container {
    margin-right: 0.9vw;
    .nav-items-right {
      display: none;
    }
  }

  .main-section {
    margin-left: 6vw;
    margin-right: 2vw;
    grid-template-columns: 1fr;
    .left-section {
      p {
        max-width: 87vw;
      }
      .did-you-know {
        font-size: 2rem;
      }
      .calculation-section {
        .flexbox-text-1 {
          width: 87vw;
        }
        .flexbox-text-2 {
          width: 87vw;
          height: unset;
          span:nth-child(2) {
            margin: 0;
          }
        }

        .investment-btns {
          button {
            width: 33.5rem;
            &:nth-child(1) {
              margin-right: 5rem;
            }
          }
        }
      }
    }
    .right-section {
      margin-top: 5vw;
      .youtube-video-container {
        width: 87vw;
        height: 53.5vw;
        grid-template-rows: 2fr 45px 1fr 11.42vw;
        .heading-youtube-bg {
          width: 87vw;
          height: 11.42vw;
          line-height: 11vw;
          span {
            padding-left: 6vw;
            font-size: 2.6vw;
          }
        }
      }
    }
  }

  .bottom-section {
    height: 60vw;
    .bottom-greyish-div {
      .bottom-white-div {
        height: 45vw;
        .light-greyish-div {
          height: 10.5vw;
          padding: 0 10vw;
          line-height: 3.5rem;
          p {
            font-size: 2vw;
            height: 9.5vw;
            padding: 2.1vw 1vw 2.08vw 1vw;
          }
        }
        h3 {
          margin-top: 3.2vw;
        }
        .input-align-div {
          height: 6vw;
        }
      }
    }
  }

  
}

/* Experimental layout lower than 600px */

@media screen and (max-width: 500px) and (min-width: 599px) {
  html {
    font-size: 45%;
  }

  .main-header {
    height: 10vw;
  }

  .nav-container {
    padding: 3vw;
  }

  .nav-menu-left-container {
    margin-left: 2.45vw;
  }
  .nav-menu-right-container {
    margin-right: 0.9vw;
    .nav-items-right {
      display: none;
    }
  }

  .main-section {
    margin-left: 6vw;
    margin-right: 2vw;
    grid-template-columns: 1fr;
    .left-section {
      p {
        max-width: 87vw;
      }
      .did-you-know {
        font-size: 2rem;
      }
      .calculation-section {
        .flexbox-text-1 {
          width: 87vw;
        }
        .flexbox-text-2 {
          width: 87vw;
          height: unset;
          span:nth-child(2) {
            margin: 0;
          }
        }

        .investment-btns {
          button {
            width: 33.5rem;
            &:nth-child(1) {
              margin-right: 5rem;
            }
          }
        }
      }
    }
    .right-section {
      margin-top: 5vw;
      .youtube-video-container {
        width: 87vw;
        height: 53.5vw;
        grid-template-rows: 2fr 45px 1fr 11.42vw;
        .heading-youtube-bg {
          width: 87vw;
          height: 11.42vw;
          line-height: 11vw;
          span {
            padding-left: 6vw;
            font-size: 2.6vw;
          }
        }
      }
    }
  }

  .bottom-section {
    height: 60vw;
    .bottom-greyish-div {
      .bottom-white-div {
        height: 45vw;
        .light-greyish-div {
          height: 10.5vw;
          padding: 0 10vw;
          line-height: 3.5rem;
          p {
            font-size: 2vw;
            height: 9.5vw;
            padding: 2.1vw 1vw 2.08vw 1vw;
          }
        }
        h3 {
          margin-top: 3.2vw;
        }
        .input-align-div {
          height: 6vw;
        }
      }
    }
  }
}


